@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }

    .header-logo {
        width: 100px;
        background-size: 100px;
    }

    .welcome {
        padding: 0 15px;
    }
}